/* Comic Sans for Bliss, Created by Progwi0. */

/* Font */

@font-face{
	font-family: Comic Sans;
	src: url("comicsans.ttf");
}

body{
	font-family: Comic Sans;
}

button{
	font-family: Comic Sans;
}

input{
	font-family: Comic Sans;
}
