/* Inter for Bliss, Created by Progwi0. */

/* Font */

@font-face{
	font-family: Inter;
	src: url("inter.ttf");
}

body{
	font-family: Inter;
}

button{
	font-family: Inter;
}

input{
	font-family: Inter;
}
