/* Segoe UI for Bliss, Created by Progwi0. */

/* Font */

@font-face{
	font-family: Segoe UI;
	src: url("segoeui.ttf");
}

body{
	font-family: Segoe UI;
}

button{
	font-family: Segoe UI;
}

input{
	font-family: Segoe UI;
}
